@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<div class="page">
    <nav>
        <section>
            <h1>Dargebotene Hand </h1><span>👐</span>
        </section>
        <section>
            <select onchange="location = this.value;">
                <option>Wiki</option>
                <option value="atemübungen"><a href="/wiki/atemübungen">Atmung</a></option>
                <option value="stressimberuf"><a href="/wiki/atemübungen">Stress</a></option>
                <option value="ängstlichkeit"><a href="/wiki/ängstlichkeit">Angst</a></option>
            </select>
            <a href="swagger/index.html">
                <button>
                    Explore our API
                </button>
            </a>    
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                <Authorized>
                    <a href="api/bffuser/logout">
                        <button>
                            Logout
                        </button>
                    </a>
                </Authorized>
                <NotAuthorized>
                    <a href="Login">
                        <button>
                            Login
                        </button>
                    </a>
                </NotAuthorized>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        </section>
    </nav>
    <main>
        @Body
    </main>
</div>
