@inherits LayoutComponentBase

<div class="page">
    <nav>
        <section>
            <h1>Dargebotene Hand </h1><span>👐</span>
        </section>
        <section>
            <a href="swagger/index.html">
                <button>
                    Explore our API
                </button>
            </a>    
            <a href="Login">
                <button>
                    Admin Login
                </button>
            </a>   
        </section>
    </nav>
    <main>
        @Body
    </main>
</div>
