@inherits LayoutComponentBase

<div class="page">
    <nav>
        <section>
            <h1>Dargebotene Hand </h1><span>👐</span>
        </section>
        <section>
            <select onchange="location = this.value;">
                <option>Wiki</option>
                <option value="wiki/atemübungen"><a href="/wiki/atemübungen">Atmung</a></option>
                <option value="wiki/stressimberuf"><a href="/wiki/atemübungen">Stress</a></option>
                <option value="wiki/angst"><a href="/wiki/ängstlichkeit">Angst</a></option>
            </select>
            <a href="swagger/index.html">
                <button>
                    Explore our API
                </button>
            </a>    
            <a href="Login">
                <button>
                    Admin Login
                </button>
            </a>   
        </section>
    </nav>
    <main>
        @Body
    </main>
</div>
