@page "/"
@inject NavigationManager navigationManager

<CascadingValue Value="HubConnection">
    <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        <Authorized>
            

        </Authorized>
        <NotAuthorized>
            <div class="chatOverviewContainer">
                <ChatConfigurationComponent Configurationupdated="async (c) => { Configurations = c; StateHasChanged(); await chatComponent.UpdateConfigurations(Configurations); StateHasChanged();}" />
                <ChatComponent @ref="chatComponent" Configurations="Configurations" />
                <div>
                </div>
            </div>
        </NotAuthorized>
    </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
</CascadingValue>


@code{
    private List<ChatConfigurationDTO> Configurations = new List<ChatConfigurationDTO>();

    private ChatComponent chatComponent = new ChatComponent();

    public HubConnection HubConnection { get; set; }

    protected override async Task OnInitializedAsync()
    {
        HubConnection = new HubConnectionBuilder()
                .WithUrl(navigationManager.ToAbsoluteUri("/notificationHub"), options =>
                {
                    
                })
                .Build();
        await HubConnection.StartAsync();
        StateHasChanged();
    }

}