@page "/"

<div class="chatOverviewContainer">
    <ChatConfigurationComponent Configurationupdated="(c) => Configurations = c"/>
    <ChatComponent Configurations="Configurations"/>
    <div>
    </div>
</div>

@code{
    private List<ChatConfigurationDTO> Configurations = new List<ChatConfigurationDTO>();

}