@page "/"
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Dargebotene Hand</title>
    <base href="~/" />
    <link href="Client.styles.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>">
</head>
<body>
    <component type="typeof(App)" render-mode="WebAssembly" />

    <script src="_framework/blazor.webassembly.js"></script>
</body>
</html>