<div class="BreathingContainer">
    <h2 style="text-align: center; margin: none;">Atemübung</h2>
    <h4 style="text-align: center;">Probieren Sie ihre Atmung dem pulsirenden Punkt auszurichten.</h4>
    <div class="BreathingPulse">
    </div>
</div>