@inject HttpClientService httpClientService

<div class="chatComponentContainer">
    <div class="chatOverview">
        @if(chatDTO != null)
        {
            foreach(var message in chatDTO.Messages)
            {
                <MessageComponent Message="message"/>            
            }
        }
        <input @bind="currentMessageText" @bind:event="oninput"/>
        <button @onclick="async () => await CreateMessageOrChat(new MessageDTO { Text = currentMessageText } )">Send</button>
    </div>
</div>

@code{
    private ChatDTO chatDTO;
    private string currentMessageText;

    protected override async Task OnInitializedAsync()
    {
        chatDTO = new ChatDTO();
    }

    private async Task CreateMessageOrChat(MessageDTO messageDTO)
    {
        chatDTO.Messages.Add(messageDTO);

        if (chatDTO.Messages.Count <= 2)
        {
            await httpClientService.PostToAPIAsync("/chats", chatDTO);
        }
        else
        {
            await httpClientService.PostToAPIAsync($"/chats/{chatDTO.Id}", messageDTO);
        }

        currentMessageText = string.Empty;
        
        GetMessagesForChat();
        StateHasChanged();
    }

    private async Task GetMessagesForChat()
    {
        var messages = await httpClientService.GetFromAPIAsync<IEnumerable<MessageDTO>>($"/chats/{chatDTO.Id}/messages");
        chatDTO.Messages = messages.ToList();
    }
}