<div class="Message @Styling">
    @Message.Text
</div>

@code {
    [Parameter]
    public MessageDTO Message { get; set; }

    private string Styling => Message.MessageSenderType switch
    {
        MessageSenderTypeDTO.Patient => "Patient",
        _ => "DargeboteneHand"
    };
}
