.Message{
    border-radius: 5px;
    min-height: 25px;
    width: min-content;
    margin-bottom: 10px;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding: 5px;
    max-width: 100%;
}
.DargeboteneHand {
    background-color: rgba(252, 136, 98, 0.5);
    align-self: flex-end;
}
.Patient {
    background-color: rgba(20, 136, 98, 0.5);
}
.Circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
}
.AnswerSection{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    column-gap: 10px;
}
.Message button{
    cursor: pointer;
    background: none;
    outline: none;
    padding: 3px;
    font-size: 15px;
    border-radius: 5px;
}
.Message span{
    margin-left: 3px;
    font-size: 8px;
}