.Message{
    border-radius: 5px;
    min-height: 25px;
    width: min-content;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding: 5px;
    max-width: 100%;
}
.DargeboteneHand:first-of-type{
    align-self: center;
}
.DargeboteneHand {
    background-color: rgba(252, 136, 98, 0.5);
    align-self: flex-end;
}
.Patient {
    background-color: rgba(20, 136, 98, 0.5);
}