@inherits LayoutComponentBase

<div class="page">
    <nav>
        <section>
            <h1>Dargebotene Hand </h1><span>👐</span>
        </section>
        <section>
            <button>
                Explore our API
            </button>
            <button>
                Admin Login
            </button>
        </section>
    </nav>
    <main>



    </main>
</div>
